[package]
name = "parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
types = { path = "../types"}
errors = { path = "../errors"}
httparse = "1.8.0"
toml = "0.8.8"
regex = "1.10.3"
