name: pr
on:
  pull_request:
env:
  CARGO_TERM_COLOR: always
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          toolchain: 1.85.0
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: vsc/package-lock.json
          node-version: 20
      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just
      - name: Install packages (Linux)
        if: runner.os == 'Linux'
        uses: awalsh128/cache-apt-pkgs-action@v1.4.3
        with:
          # Required for egui in reqlang-client
          # https://github.com/emilk/egui/blob/master/.github/workflows/rust.yml#L23C7-L29C40
          packages: libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev # libgtk-3-dev is used by rfd
          version: 1.0
          execute_install_scripts: true
      - name: Verify
        run: xvfb-run -a just verify
