name: pr
on:
  pull_request:
env:
  CARGO_TERM_COLOR: always
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: vsc/package-lock.json
          node-version: 20
      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just
      - name: Verify
        run: xvfb-run -a just verify
